* {
  margin: 0 0 0 0;
}

body, html {
  height: 100%;
  background-color: #ffffff;
}

.btn-flat {
  color: #ffffff !important;
  font-family: 'Nova Mono', monospace;
  letter-spacing: 2px;
  box-shadow: none !important;
}

.btn-flat:hover {
  color: #ffffff !important;
  background-color: #bf360c !important;
  cursor: default !important;
}
