#navbar {
  padding: 30px 150px 0px 150px;
  display: grid;
  grid-template-columns: 200px repeat(9, 1fr);
  grid-gap: 10px;
  text-align: center;
}

.brand-logo {
  font-size: 50px;
  letter-spacing: 6px;
  align-self: center;
  text-decoration: none;
  color: #fff;
  text-shadow: -5px 1px 2px rgba(217, 111, 102, 1);
  font-family: 'Allerta Stencil';
  font-weight: 900;
  text-align: center;
}

#navbar > li {
  font-family: 'Allerta Stencil';
  text-transform: uppercase;
  list-style: none;
  font-size: 15px;
  grid-gap: 30px;
  color: #fff;
  align-self: center;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
}

.about {
  grid-column: 7;
}

.pricing {
  grid-column: 8;
}

.login {
  grid-column: 9;
  border-left: 1px solid #fff;
}

.signin {
  grid-column: 10;
  border: 1px solid #fff;
}

.login > a,
.signin > a {
  color: #fff;
  text-decoration: none;
}

li.about:hover,
li.pricing:hover,
.login:hover > a,
.signin:hover > a {
  color: #6D214F !important;
}

.signin:hover {
  background-color: #fff;
}

.item1 {
  letter-spacing: 1px;
}

.item2 {
  grid-column: 4;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid rgba(55, 66, 250,1.0);
  box-shadow: 2px 2px 2px #000;
  width: 50%;
}

.item3:hover {
  color: rgba(255, 121, 63,1.0) !important;
}

.item3:hover > a {
  color: rgba(255, 121, 63,1.0);
}
