#navbar {
  padding: 30px 100px 0px 100px;
  display: grid;
  grid-template-columns: 200px repeat(9, 1fr);
  grid-gap: 10px;
  text-align: center;
}

.brand-logo {
  font-size: 2.5vw;
  letter-spacing: 6px;
  align-self: center;
  text-decoration: none;
  color: #ffa502;
  text-shadow: -1px 0px 0px #eb3b5a;
  font-family: 'Indie Flower', cursive;
  font-weight: 900;
  text-align: center;
}

#navbar > li {
  font-family: 'Nova Mono', monospace;
  letter-spacing: 1px;
  text-transform: uppercase;
  list-style: none;
  font-size: 1vw;
  grid-gap: 30px;
  color: #2f3542;
  align-self: center;
  overflow: hidden;
}

.about {
  grid-column: 2;
}

.pricing {
  grid-column: 3;
}

.credits {
  grid-column: 5 / 7;
  text-decoration: underline;
  font-weight: bold;
}

.item2 {
  grid-column: 7 / 10;
}

.item1:hover {
  cursor: default !important;
}

.login {
  grid-column: 9;
  border-left: 1px solid #fff;
}

.signin {
  grid-column: 10;
  border: 1px solid #fff;
}

.logout {
  border: 1px solid #2f3542;
  padding: 3px;
}

.login > a,
.signin > a,
.logout > a {
  color: #2f3542;
  text-decoration: none;
}

li.about:hover,
li.pricing:hover,
.login:hover > a,
.signin:hover > a,
.logout:hover > a {
  color: #ff4757 !important;
  cursor: default;
}

.signin:hover {
  background-color: #fff;
}

.item1 {
  letter-spacing: 1px;
}

.item3:hover {
  color: rgba(255, 121, 63,1.0) !important;
}

.item3:hover > a {
  color: rgba(255, 121, 63,1.0);
}
